<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-icon src="../../assets/icon/logo.svg" name="logo"></ion-icon>
      Edidebs Bank
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding_1">
    <ion-button
      expand="block"
      fill="clear"
      shape="round"
      [routerLink]="['/log']"
      routerLinkActive="router-link-active"
    >
      Connexion/Inscription
    </ion-button>

    <ion-button
      expand="block"
      fill="clear"
      shape="round"
      [routerLink]="['/pricing']"
      routerLinkActive="router-link-active"
    >
      Tarifs
    </ion-button>

    <ion-button
      expand="block"
      fill="clear"
      shape="round"
      [routerLink]="['/feedback']"
      routerLinkActive="router-link-active"
    >
      Avis clients
    </ion-button>

    <ion-button
      expand="block"
      fill="clear"
      shape="round"
      [routerLink]="['/quotations']"
      routerLinkActive="router-link-active"
    >
      Les cotations
    </ion-button>

    <ion-button [routerLink]="['/']" routerLinkActive="router-link-active">
      <ion-icon slot="icon-only" name="home-sharp"></ion-icon>
    </ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-icon src="../../assets/icon/logo.svg" name="logo"></ion-icon>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>
