
.info {
  --background: #DCEEFF;
}

ion-toolbar {
  --background: #155598;
  --color: #fff;
}

.ion-padding_1 {
  --background: #155598;
}

ion-button {
  --color: #fff;
}

ion-menu-button {
  --color: #fff;
}

ion-card-subtitle {
  --color: #F4B100;
  
}

ion-card {
  --border: hidden;
  --border-radius: 50px;
}

.financial {
  --background:#155598;
  --border: hidden;
  --border-radius: 50px
}

.bluecard {
  --color: #fff;
}

p {
  --color: white;
}

.paragraf {
  --background: #DCEEFF;
}